<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block extra_meta %}{% endblock %}
    {% block title %}{% endblock %}
    {% block main_style %}{% endblock %}
    {% block extra_style %}{% endblock %}
    {% block main_script %}{% endblock %}
</head>
<body>
{#{% if user.is_authenticated %}#}
{% block authenticated %}
    {% block navigator %}{% endblock %}
    {% block container %}{% endblock %}
    {% block extra_script %}{% endblock %}
{% endblock %}
{#{% else %}#}
{#    {% block not_authenticated %}{% endblock %}#}
{#{% endif %}#}
{% block copy_right %}{% endblock copy_right %}
</body>

</html>