{% extends "enhanced_ui/base_site.html" %}
{% block work_space %}
    <style>
        input{
            background-color: transparent;
            width: 70%;
        }
        .custom-changepassword-btn{
            width: 20%;
        }
    </style>
    <div >
        <div class="card" style="background-color: transparent; width: 40%; margin-left: auto;margin-right: auto;">
            <div class="card-body" >
                <h4 class="card-title">修改密码</h4>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        {{ form.as_table }}
                    </table>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-success custom-changepassword-btn">修改密码</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}