{% extends "enhanced_ui/face_list.html" %}
{% load static %}
{% block main_style %}
    {{ block.super }}
    <link href="{% static 'enhanced_ui/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'enhanced_ui/css/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'enhanced_ui/css/pikaday.css' %}" rel="stylesheet">
    <link href="{% static 'enhanced_ui/css/daterangepicker.css' %}" rel="stylesheet">
{% endblock %}

{% block main_script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'enhanced_ui/js/bootstrap-table.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'enhanced_ui/js/bootstrap-table-zh-CN.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'enhanced_ui/js/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'enhanced_ui/js/pikaday.js' %}"></script>
    <script type="text/javascript" src="{% static 'enhanced_ui/js/daterangepicker.min.js' %}"></script>
{% endblock %}
{% block work_space %}
    <h1>查看部门</h1>
    <table class="table table-bordered">
        <tr>
            <th>部门名称</th>
            <td>{{ object.name }}</td>
        </tr>
    </table>
    <button type="button" class="btn btn-info"
            onclick="window.location.href='{% url 'enhanced_ui:department-update' object.pk %}'">编辑
    </button>
    <button type="button" class="btn btn-default"
            onclick="window.location.href='{% url 'enhanced_ui:department-list' %}'">返回
    </button>


{% endblock %}
{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        $('#daterangepicker').daterangepicker({
            "locale": {
                "format": "YYYY-MM-DD",
                "separator": " / ",
                "applyLabel": "查询",
                "cancelLabel": "取消",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "weekLabel": "W",
                "daysOfWeek": [
                    "周日",
                    "周一",
                    "周二",
                    "周三",
                    "周四",
                    "周五",
                    "周六"
                ],
                "monthNames": [
                    "一月",
                    "二月",
                    "三月",
                    "四月",
                    "五月",
                    "六月",
                    "七月",
                    "八月",
                    "九月",
                    "十月",
                    "十一月",
                    "十二月"
                ],
                "firstDay": 1
            },
            'showDropdowns': true
        }, function (start, end, label) {
            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
            window.open('{% url "enhanced_ui:face-date-range-report" object.pk %}' + "?start_date=" + start.format('YYYY-MM-DD') + "&end_date=" + end.format('YYYY-MM-DD'));
        });
    </script>
{% endblock %}