{% extends "enhanced_ui/face_list.html" %}

{% block work_space %}
    <style>
        .custom-face-create-input{
            width: 20%;
            {#background: #6CB31D;#}
        }


    </style>
    <h1>添加人员</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-bordered">
            {{ form.as_table }}
{#            <button>测试</button>#}
{#            <select multiple="multiple" id="id_department" name="department">#}
{#                {% for de in depart %}#}
{#                    <option value="{{ de.pk }}">{{ de.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
        </table>
        <input class="custom-face-create-input btn btn-primary" type="submit" value="提交"/>
    </form>
    <style>
        input{
            BACKGROUND-COLOR: transparent;
        }
        select{
            BACKGROUND-COLOR: transparent;
        }
        option{
            color: #5faee3;
            BACKGROUND-COLOR: transparent;
        }
    </style>
{% endblock %}