{% extends "enhanced_ui/face_list.html" %}

{% block work_space %}
    <style>
        input{
            BACKGROUND-COLOR: transparent;
        }
        select{
            BACKGROUND-COLOR: transparent;
        }
        option{
            color: #5faee3;
            BACKGROUND-COLOR: transparent;
        }
        .custom-face-update-personmessage-div-btn{
            text-align: center;
        }
        .custom-face-update-device-div-btn{
            text-align: center;
            margin-top: 20%;
        }
        .custom-face-update-device-div-label{
            margin-right: 7%;
            font-size: 20px;
        }

        .checkbox, .multiselect-selected-text{
            color: #0b2e13;
        }
    </style>
    <h1>编辑人员</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="row">
        <div class="col-md-6 custom-face-update-device-div" style="position: relative;">
            <h2>所属设备信息</h2>
            <form id="deviceForm" style="height: 51%;">
                <div class="form-group">
                    <input type="hidden" name="person_pk" id="personFormControl" value="{{ object.pk }}"/>
                    <label class="custom-face-update-device-div-label" for="idDevicesFormControl">请选择推送设备:</label>
                    <select multiple="multiple" class="form-control" id="idDevicesFormControl" name="devices">
                        {% for device in devices %}
                            <option {% if device.selected %}selected{% endif %}
                                    value="{{ device.pk }}">{{ device.name }}-{{ device.device_type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <div class="custom-face-update-device-div-btn">
                <button id="set-devices" class="btn btn-success" style="width: 50%;">更新设备信息</button>
            </div>
        </div>

        <div class="col-md-6 custom-face-update-personmessage-div">
            <h2>人员信息</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-bordered">
                    {{ form.as_table }}
                </table>
                <p>绑定设备信息请点击<strong>“更新设备信息”</strong>按钮</p>
                <div class="custom-face-update-personmessage-div-btn">
                    <input type="submit" value="提 交" class="btn btn-success" style="width: 50%"/>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#idDevicesFormControl').multiselect(
                {
                    enableClickableOptGroups: true,
                    includeSelectAllOption: true,
                    buttonWidth: '50%',
                    maxHeight: 300
                }
            );
            $("#set-devices").click(function () {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "{% url 'enhanced_ui:face-set-devices' %}",//url
                    data: $('#deviceForm').serialize(),
                    success: function (result) {
                        if (result.error === false) {
                            $.alert({
                                title: '更新成功',
                                content: '设备更新成功',
                            });
                        } else {
                            $.alert({
                                title: '更新失败',
                                content: '更新失败，请刷新页面',
                            });
                        }
                    },
                    error: function () {
                        $.alert({
                            title: '发生异常',
                            content: '更新失败，请刷新页面',
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}