{% extends "enhanced_ui/face_list.html" %}

{% block work_space %}
    <h1>删除人员</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <table class="table table-bordered">
            <tr>
                <th>姓名</th>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <th>职位</th>
                <td>{{ object.position }}</td>
            </tr>
            <tr>
                <th>工号</th>
                <td>{{ object.employee_number }}</td>
            </tr>
            <tr>
                <th>证件照</th>
                <td><img height="128px" width="128px" src="data:image/png;base64,{{ object.image }}"></td>
            </tr>
        </table>
        <p>确认删除人员 "{{ object.name }}"吗？</p>
        <input class="btn btn-danger" type="submit" value="确认"/>
        <button type="button" class="btn btn-info"
                onclick="window.location.href='{% url 'enhanced_ui:face-list' %}'">返回
        </button>
    </form>
{% endblock %}