{% extends "enhanced_ui/base_site.html" %}
{% block work_space %}
    <div class="custom-alert col-md-12">

        <div class="row">
          <div class="alert alert-primary alert-dismissible fade show custom-alert-div" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h2>人员数量</h2>
              <span class="custom-alert-span">{{ people_count }}</span>
          </div>
            <div style="margin-left: 10%;"></div>
          <div class="alert alert-success alert-dismissible fade show custom-alert-div">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
             <h2>管理终端总数</h2>
              <span class="custom-alert-span">{{ device_count }}</span>
          </div>
            <div style="margin-left: 10%;"></div>
          <div class="alert alert-info alert-dismissible fade show custom-alert-div">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h2>匹配记录总数</h2>
              <span class="custom-alert-span">{{ record_count }}</span>
          </div>
            <div style="margin-left: 10%;"></div>
          <div class="alert alert-warning alert-dismissible fade show custom-alert-div">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h2>部门总数</h2>
              <span class="custom-alert-span">{{ depart_count }}</span>
          </div>
        </div>
    </div>
<style>

</style>
{% endblock %}