{% extends "enhanced_ui/base_site.html" %}
{% load static %}
{% block main_style %}
    {{ block.super }}
    <link href="{% static 'enhanced_ui/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'enhanced_ui/css/bootstrap-table.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main_script %}
    {{ block.super }}
    <script src="{% static 'enhanced_ui/js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'enhanced_ui/js/bootstrap-table-zh-CN.min.js' %}"></script>
{% endblock %}
{% block work_space %}

    <table id="table"
           data-toggle="table"
           data-url="{% url 'record-list' %}"
           data-side-pagination="server"
           data-pagination="true"
           data-page-list="[5, 10, 20, 50, 100, 200]"
           data-data-field="results"
           data-total-field="count"
           data-page-size="20"
           data-search="true">
        <thead>
        <tr>
            <th data-field="target__name" data-sortable="true" data-align="center">姓名</th>
            <th data-field="target__employee_number" data-sortable="true" data-align="center">工号</th>
            <th data-field="target__department" data-sortable="true" data-align="center">所属部门</th>
            <th data-field="target__position" data-sortable="true" data-align="center">职位</th>
            <th data-field="record_type" data-sortable="true" data-align="center">记录类型</th>
            <th data-field="created" data-sortable="true" data-align="center">记录时间</th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script>

    </script>
{% endblock %}
{% block extra_meta %}
    <meta http-equiv="refresh" content="60">
{% endblock %}