{% extends "enhanced_ui/base_site.html" %}
{% load static %}
{% block main_style %}
    {{ block.super }}
    <link href="{% static 'enhanced_ui/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'enhanced_ui/css/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'enhanced_ui/css/pikaday.css' %}" rel="stylesheet">
    <link href="{% static 'enhanced_ui/css/daterangepicker.css' %}" rel="stylesheet">
{% endblock %}

{% block main_script %}
    {{ block.super }}
    <script src="{% static 'enhanced_ui/js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'enhanced_ui/js/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'enhanced_ui/js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'enhanced_ui/js/pikaday.js' %}"></script>
    <script src="{% static 'enhanced_ui/js/daterangepicker.min.js' %}"></script>
{% endblock %}
{% block work_space %}
    <style>
        .custom-export-input{
            background-color: transparent;
            border:0.5px solid #378888;
        }
        .pika-label,.pika-prev,.pika-next,.pika-select{
            color: #1b1e21;
        }
        .pika-select option{
            color: #1b1e21;
        }
        .table th, .table td{
            color: #1b1e21;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h2>出勤人员</h2>
                <div id="toolbar">
                    <input type="text" id="datepicker" class="btn custom-export-input" >
                    <button id="setDate" class="btn btn-primary">
                        <i class="fas fa-sync-alt"></i> 查询
                    </button>
                    <button id="exportRecords" class="btn btn-success" onclick="exportRecords()">
                        <i class="fas fa-download"></i> 下载excel报表
                    </button>
                </div>
                <table id="table"
                       data-toolbar="#toolbar"
                       data-toggle="table"
                       data-pagination="true"
                       data-page-list="[5, 10, 20, 50, 100, 200]"
                       data-search="true">
                    <thead>
                    <tr>
                        <th data-sortable="true" data-align="center">姓名</th>
                        <th data-sortable="true" data-align="center">职位</th>
                        <th data-sortable="true" data-align="center">所属部门</th>
                        <th data-sortable="true" data-align="center">工号</th>
                        <th data-sortable="true" data-align="center">到达时间</th>
                        <th data-sortable="true" data-align="center">离开时间</th>
                        <th data-sortable="true" data-align="center">可用操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for attended_person in attended_people %}
                        <tr>
                            <td>{{ attended_person.name }}</td>
                            <td>{{ attended_person.position }}</td>
                            <td>{{ attended_person.department }}</td>
                            <td>{{ attended_person.employee_number }}</td>
                            <td>{{ attended_person.start }}</td>
                            <td>{{ attended_person.end }}</td>
                            <td>
                                <button type="button" class="btn btn-success"
                                        onclick="showRecords({{ attended_person.pk }})">详细记录
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <h2>缺勤人员</h2>
                <table id="tableAbsent"
                       data-toggle="table"
                       data-pagination="true"
                       data-page-list="[5, 10, 20, 50, 100, 200]"
                       data-search="true">
                    <thead>
                    <tr>
                        <th data-sortable="true" data-align="center">姓名</th>
                        <th data-sortable="true" data-align="center">职位</th>
                        <th data-sortable="true" data-align="center">所属部门</th>
                        <th data-sortable="true" data-align="center">工号</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for absent_person in absent_people %}
                        <tr>
                            <td>{{ absent_person.name }}</td>
                            <td>{{ absent_person.position }}</td>
                            <td>{{ absent_person.department }}</td>
                            <td>{{ absent_person.employee_number }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        let picker = new Pikaday({
                field: document.getElementById('datepicker'),
                i18n: {
                    previousMonth: '上月',
                    nextMonth: '下月',
                    months: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                    weekdays: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
                    weekdaysShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六']
                },
                defaultDate: new Date(moment("{{ date }}").toDate()),
                setDefaultDate: true,
                format: "YYYY-MM-DD",
                onSelect: function () {
                    console.log(this.getMoment().format('YYYY-MM-DD'));
                }
            }
        );
        let $setDateButton = $('#setDate');
        $setDateButton.click(function () {
            window.location.href = "{% url 'enhanced_ui:report' %}" + picker.getMoment().format('YYYY-MM-DD')
        });

        function showRecords(pk) {
            let query_date = picker.getMoment().format('YYYY-MM-DD');
            $.get("{% url 'enhanced_ui:personal-records' %}", {pk: pk, date: query_date}, function (data) {
                $.alert({
                    title: '详细记录',
                    content: data.html,
                });
            });
        }

        function exportRecords() {
            window.location.href = "{% url 'enhanced_ui:export-records' %}" + '?date=' + picker.getMoment().format('YYYY-MM-DD');
        }
    </script>
{% endblock %}