{% extends "sync/device_list.html" %}

{% block work_space %}
    <style>
        input{
            width: 20%;
            margin-right: 100px;
        }
        button{
            width: 20%;
        }
    </style>
    <h1>删除设备</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <table class="table table-bordered">
            <tr>
                <th>UUID</th>
                <td>{{ object.uuid }}</td>
            </tr>
            <tr>
                <th>设备名</th>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <th>设备类型</th>
                <td>{{ object.device_type }}</td>
            </tr>
            <tr>
                <th>设备描述</th>
                <td>{{ object.descriptions }}</td>
            </tr>
        </table>
        <p>确定要删除设备 "{{ object.name }}"吗？</p>
        <div style="text-align: center;">
            <input class="btn btn-danger" type="submit" value="确认"/>
            <button type="button" class="btn btn-info"
                    onclick="window.location.href='{% url 'sync:device-list' %}'">返回
            </button>
        </div>
    </form>
{% endblock %}

{% block extra_style %}{% endblock %}
{% block extra_script %}{% endblock %}