{% extends "enhanced_ui/base_site.html" %}
{% load static %}

{% block extra_style %}
    {{ block.super }}
    <link href="{% static 'enhanced_ui/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'enhanced_ui/css/bootstrap-table.min.css' %}" rel="stylesheet">
    <style>
        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }
    </style>
{% endblock %}

{% block main_script %}
    {{ block.super }}
    <script src="{% static 'enhanced_ui/js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'enhanced_ui/js/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'sync/js/vue.js' %}"></script>
    <script src="{% static 'sync/js/reconnecting-websocket.min.js' %}"></script>
{% endblock %}
{% block work_space %}
    <style>
        .custom-device-list-a{
            width: 30%  ;
        }
    </style>
    <div id="app">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>名称</th>
                <th>设备类型</th>
                <th>设备位置</th>
                <th>ip地址</th>
                <th>在线时长</th>
                <th>最近一次连接</th>
                <th>可用操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(device, uuid) in devices" :key="uuid" v-bind:class="get_row_color(device)">
                <td>${ device.name }</td>
                <td>${ device.device_type }</td>
                <td>${ device.position }</td>
                <td>${ device.ip }</td>
                <td>${ device.online_time }</td>
                <td>${ device.latest }</td>
                <td>
                    <a class="btn btn-primary custom-device-list-a" v-bind:href="device.urls.detail">查看</a>
                    <a class="btn btn-info custom-device-list-a" v-bind:href="device.urls.update">编辑</a>
                    <a class="btn btn-danger custom-device-list-a" v-bind:href="device.urls.delete"
                       v-bind:hidden="hidden_delete_button(device)">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            created: function () {
                const vm = this;
                vm.initialize();
                setInterval(function () {
                    vm.$forceUpdate();
                }, 5000);
            },
            data: function () {
                return {
                    socket: "",
                    devices: {}
                }
            },
            methods: {
                initialize: function () {
                    const vm = this;
                    this.config_websocket();
                },
                config_websocket: function () {
                    const vm = this;
                    let socket_instance = new ReconnectingWebSocket("ws://" + window.location.host + "{% url 'sync:device-list' %}");
                    vm.$set(vm, "socket", socket_instance);
                    socket_instance.onclose = function () {
                        console.log('close');
                    };
                    socket_instance.onopen = function () {
                        console.log('open');
                    };
                    socket_instance.onmessage = function (e) {
                        let obj = $.parseJSON(e.data);
                        vm.$set(vm.devices, obj.uuid, obj);

                    }
                },
                get_row_color: function (device) {
                    if (device.latest) {
                        let source_datetime = new Date(device.latest);
                        let current_datetime = new Date();
                        if ((current_datetime - source_datetime) / 1000 <= 5) {
                            return 'table-success'
                        } else {
                            return 'table-danger'
                        }
                    } else {
                        return 'table-danger'
                    }
                },
                hidden_delete_button: function (device) {
                    const vm = this;
                    let result = vm.get_row_color(device);
                    if (result === 'table-success') {
                        return 'hidden';
                    } else {
                        return null;
                    }
                }
            }
        })
    </script>
{% endblock %}