{% extends "sync/device_list.html" %}

{% block work_space %}
    <style>
        .multiselect{
            width: 0%;
        }
        .checkbox, .multiselect-selected-text{
            color: #0b2e13;
        }
        .custom-devices-update-div-label{
            margin-right: 7%;
            font-size: 20px;
        }
        .custom-devices-update-btn{
            margin-top: 5%;
        }
        .custom-devices-update-btn-update,.custom-devices-update-btn-detail, .custom-devices-update-btn-back{
            width: 20%;
            margin-right: 10px;
        }
        .jconfirm-title, .jconfirm-content div{
            color: #0b2e13;
        }
    </style>
    <h1>编辑设备</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div style="text-align: center;">
        <form id="personForm" style="text-align: center;">
            <div class="form-groupa" style="text-align: center;">
                <input type="hidden" name="device_pk" id="personFormControl" value="{{ object.pk }}"/>
                <div class="row">
                    <div class="col-md-5">
                         <label for="idPeopleFormControl" class="custom-devices-update-div-label">请选择人员</label>
                    </div>

                    <div class="col-md-5">
                          <select multiple="multiple" class="form-control" id="idPeopleFormControl" name="people">
                                {% for position,group in groups.items %}
                                    <optgroup label="{{ position }}">
                                        {% for person in group %}
                                            <option {% if person.selected %}selected{% endif %}
                                                    value="{{ person.pk }}">{{ person.name }}-{{ person.department }}-{{ person.employee_number }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                    </div>
                </div>


            </div>
        </form>
        <div class="custom-devices-update-btn">
            <button id="set-people" class="btn btn-success custom-devices-update-btn-update">更新人员信息</button>
            <a type="button" class="btn btn-primary custom-devices-update-btn-detail" href="{% url 'sync:device-detail' object.pk %}">查看设备信息</a>
            <a type="button" class="btn btn-info custom-devices-update-btn-back" href="{% url 'sync:device-list' %}">返回</a>
        </div>


    </div>

{% endblock %}
{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#idPeopleFormControl').multiselect(
                {
                    enableClickableOptGroups: true,
                    includeSelectAllOption: true,
                    buttonWidth: '100%',
                    enableFiltering: true,
                    maxHeight: 300
                }
            );
            $("#set-people").click(function () {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "{% url 'sync:set-people' %}",//url
                    data: $('#personForm').serialize(),
                    success: function (result) {
                        if (result.result === true) {
                            $.alert({
                                title: '更新成功',
                                content: '设备成功',
                            });
                        } else {
                            $.alert({
                                title: '更新失败',
                                content: '更新失败，请刷新页面',
                            });
                        }
                    },
                    error: function () {
                        $.alert({
                            title: '发生异常',
                            content: '更新失败，请刷新页面',
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block extra_style %}{% endblock %}
