{% extends "enhanced_ui/face_list.html" %}

{% block work_space %}
    <style>

        .custom-device-url li{
            background-color:rgba(0,0,0,0);
        }
        .custom-device-span-left{
            float:left;
        }
        .custom-device-span-right{
            float:right;
        }
        .custom-button-div{
            text-align: center;
            margin-top: 20px;
        }
        .custom-device-detail-btn{
            width: 40%;
            margin-right: 10px;
        }
    </style>
    <h1>查看设备</h1>
    <div class="row">
        <div class="col-md-4">
              <ul class="list-group custom-device-url"  >
                    <li class="list-group-item"><span class="custom-device-span-left">设备名：</span><span class="custom-device-span-right">{{ object.name }}</span></li>
                    <li class="list-group-item"><span class="custom-device-span-left">设备类型：</span><span class="custom-device-span-right">{{ object.device_type }}</span></li>
                    <li class="list-group-item"><span class="custom-device-span-left">设备位置:</span><span class="custom-device-span-right">{{ object.position }}</span></li>
                    <li class="list-group-item"><span class="custom-device-span-left">IP：</span><span class="custom-device-span-right">{{ object.ip }}</span></li>
                    <li class="list-group-item"><span class="custom-device-span-left">描述：</span><span class="custom-device-span-right">{{ object.descriptions }}</span></li>
              </ul>
                <div class="custom-button-div">
                    <button type="button" class="btn btn-info custom-device-detail-btn"
                        onclick="window.location.href='{% url 'sync:device-update' object.pk %}'">编辑
                    </button>
                    <button type="button" class="btn btn-danger custom-device-detail-btn"
                        onclick="window.location.href='{% url 'sync:device-list' %}'">返回
                    </button>
                </div>
        </div>

        <div class="col-md-8">
            <h2>已绑定人员</h2>
              <table data-toggle="table" data-search="true" data-pagination="true" data-page-size="15" style="background-color: transparent">
                    <thead>
                    <tr>
                        <th data-sortable="true" data-align="center">姓名</th>
                        <th data-sortable="true" data-align="center">职位</th>
                        <th data-sortable="true" data-align="center">工号</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for person in object.members.all %}
                        <tr>
                            <td>{{ person.name }}</td>
                            <td>{{ person.position }}</td>
                            <td>{{ person.employee_number }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>

{% endblock %}