{% extends "enhanced_ui/base_site.html" %}
{% load static %}
{% block main_script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'sync/js/reconnecting-websocket.min.js' %}"></script>
{% endblock %}

{% block work_space %}
    <div>
        <textarea id="logging"></textarea>
    </div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        let socket_instance = new ReconnectingWebSocket("ws://" + window.location.host + "{% url 'sync:logging' %}");
        socket_instance.onclose = function () {
            console.log('close');
        };
        socket_instance.onopen = function () {
            console.log('open');
        };
        socket_instance.onmessage = function (e) {
            let text = e.data;
            $('#logging').append(text);
        }
    </script>
{% endblock %}