{% extends "base.html" %}
{% load static %}
{% block main_style %}
    {{ block.super }}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
{% endblock %}

{% block main_script %}
    {{ block.super }}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-zh-CN.min.js' %}"></script>
{% endblock %}

{% block index %}
    <style>
        td, th {
            text-align: center;
            display: table-cell;
            font-size: 1.2em;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div id="toolbar">
                        <button id="removeSelected" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> 删除选中项
                        </button>
                        <div class="col-xs-3" style="float:right;">
                            <input type="text" class="form-control" placeholder="按照名字或工号搜索">
                        </div>
                    </div>

                    <table class="index_table"
                           id="table"
                           data-toolbar="#toolbar"
                           data-toggle="table"
                            {#           data-url="{% url 'person-list' %}"#}
                           data-side-pagination="server"
                           data-pagination="true"
                           data-page-list="[5, 10, 20, 50, 100, 200]"
                           data-data-field="results"
                            {#                            data-search="true"#}
                           data-total-field="count">
                        <thead>
                        <tr>
                            <th data-field='id' data-checkbox="true"></th>
                            <th data-width="90px" data-searchable="false"
                            >证件照
                            </th>
                            <th data-sortable="true">姓名</th>
                            <th data-field="number" data-sortable="true">工号</th>
                            <th data-width="200px">
                                <button type="button" class="btn btn-success"
                                        onclick="window.location.href='{% url 'info_management:info_management_create' %}'">
                                    添加人员
                                </button>
                                <button type="button" class="btn btn-primary"
                                        onclick="window.location.href='{% url 'info_management:info_management_delete' %}'">
                                    批量导入
                                </button>
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        {% if peopleinfo_list %}
                            {% for i in peopleinfo_list %}
                                <tr>
                                    <td></td>
                                    <td>
                                        <img height="60px" width="60px"
                                             src="data:image/png;base64,{{ i.image_base64 }}">
                                    </td>
                                    <td>{{ i.name }}</td>
                                    <td>{{ i.number }}</td>
                                    <td>
                                        <button type="button" class="btn btn-success custom-face-list-btn-detai"
                                                onclick="window.location.href='http://127.0.0.1:8000/info_management/detail/?pk={{ i.pk }}' ">
                                            查看
                                        </button>
                                        <button type="button" class="btn btn-info custom-face-list-btn-detai"
                                        ><a href="http://127.0.0.1:8000/info_management/edit/?pk={{ i.pk }}">编辑</a>
                                        </button>
                                        <button type="button" class="btn btn-danger custom-face-list-btn-detai"
                                                onclick="window.location.href='http://127.0.0.1:8000/info_management/delete/?pk={{ i.pk }}'">
                                            删除
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block remove_script %}
    {{ block.super }}
    <script>
        let $table = $('#table');
        let $removeSelected = $('#removeSelected');

        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                alert(row.id);
                return row.pk;
            });
        }

        $removeSelected.click(function () {

            let pks = getIdSelections();
            alert(pks);
            if (pks.length <= 0) {
            {# } else { #}
                $.confirm({
                    title: '提示',
                    content: '确认删除选中员工吗？',
                    buttons: {
                        '确认': function () {

                            $.post("{% url 'info_management:info_management_delete' %}", {'pks': pks}).done(function (data) {
                                if (!data.error) {
                                    $.confirm({
                                        title: '提示',
                                        content: '删除成功',
                                        backgroundDismiss: true,
                                        buttons: {
                                            '确认': function () {
                                                window.location.reload();
                                            }
                                        }
                                    });
                                } else {
                                    $.confirm({
                                        title: '提示',
                                        content: '删除失败',
                                        backgroundDismiss: true,
                                        buttons: {
                                            '确认': function () {

                                            }
                                        }
                                    });
                                }
                            })
                                .fail(function () {
                                    console.log("error");
                                });
                            $table.bootstrapTable('refresh');
                        },
                        '取消': function () {

                        }
                    }
                });
            }
        });
    </script>
{% endblock %}




