{% extends "base.html" %}
{% load static %}
{% block main_style %}
    {{ block.super }}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
{% endblock %}

{% block main_script %}
    {{ block.super }}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-zh-CN.min.js' %}"></script>
{% endblock %}


{% block people_info_create %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>添加人员</h1>
                <hr>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <form action="{% url 'info_management:info_management_create' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        {{ form.as_table }}
                    </table>
                    <input class="custom-face-create-input btn btn-primary" type="submit" value="提交"/>
                </form>
            </div>
        </div>
    </div>

    <style>
        th, td {

            font-size: 1.2em;
        }
        th {
            width: 300px;
        }

    </style>
{% endblock %}