{% extends 'base.html' %}

{% load static %}
{% block main_style %}
    {{ block.super }}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
{% endblock %}

{% block main_script %}
    {{ block.super }}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-zh-CN.min.js' %}"></script>
{% endblock %}

{% block people_info_edit %}
    <div class="col-md-6 custom-face-update-personmessage-div">
        <h2>人员信息</h2>
        <hr>
        <form action="{% url 'info_management:info_management_edit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-bordered">

                <thead>
                {% for i in people_obj %}
                    <tr><input type="hidden" name="pk" value="{{ i.pk }}"></tr>
                    <tr>
                        <th data-width="90px" data-align="center" data-searchable="false">证件照
                        </th>
                        <td><span>已上传照片{{ i.image }}</span><input type="file" name="image" ></td>
                    </tr>
                    <tr>
                        <th data-field="name" data-sortable="true" data-align="center">姓名</th>
                        <td><input type="text" name="name" value="{{ i.name }}"></td>
                    </tr>
                    <tr>
                        <th data-field="number" data-sortable="true" data-align="center">工号</th>
                        <td><input type="text" name="number" value="{{ i.number }}"></td>
                    </tr>
                {% endfor %}
                </thead>

            </table>

            <div class="custom-face-update-personmessage-div-btn">
                <input type="submit" value="提 交" class="btn btn-success" style="width: 50px"/>
            </div>
        </form>
    </div>
{% endblock %}