{% extends 'base.html' %}

{% load static %}
{% block main_style %}
    {{ block.super }}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
{% endblock %}

{% block main_script %}
    {{ block.super }}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-zh-CN.min.js' %}"></script>
{% endblock %}


{% block people_info_delete %}
    <h1>删除人员</h1>
    <hr>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {% for object in people_info %}
            <table class="table table-bordered">
                <tr><input type="hidden" name="pk" value="{{ object.pk }}"></tr>
                <tr>
                    <th>姓名</th>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <th>工号</th>
                    <td>{{ object.number }}</td>
                </tr>
                <tr>
                    <th>证件照</th>
                    <td><img height="128px" width="128px" src="data:image/png;base64,{{ object.image_base64 }}"></td>
                </tr>
            </table>
            <p>确认删除人员 "{{ object.name }}"吗？</p>
            <input class="btn btn-danger" type="submit" value="确认"/>
            <button type="button" class="btn btn-info"
                    onclick="window.location.href='{% url 'info_management:info_management_index' %}'">返回
            </button>
        {% endfor %}
    </form>
{% endblock %}

